IF EXISTS (SELECT * FROM sysobjects 
      WHERE id = OBJECT_ID(N'[kelso].[vsp_brisnet_dr4Insert]') 
       AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
 DROP PROCEDURE [kelso].[vsp_brisnet_dr4Insert]
GO

CREATE PROCEDURE [kelso].[vsp_brisnet_dr4Insert]
AS
BEGIN
INSERT INTO [kelso].[brisnet_dr4]
           ([RaceId]
           ,[CreatedDt]
           ,[ModifiedDt]
           ,[TrackCd]
           ,[RaceDt]
           ,[RaceNum]
		   ,[HorseId]
		   ,[HorseName]
           ,[PostPosition]
           ,[BRISPrimePowerRating]
           ,[BRISDirtPedigreeRating]
           ,[BRISMudPedigreeRating]
           ,[BRISTurfPedigreeRating]
           ,[BRISDistPedigreeRating]
           ,[BestBRISSpeedLife]
           ,[BestBRISSpeedMostRecentYr]
           ,[BestBRISSpeedSecondMostRecentYr]
           ,[BestBRISSpeedTrack]
           ,[NumOfStartsFASTDirt]
           ,[NumOfWinsFASTDirt]
           ,[NumOfPlacesFASTDirt]
           ,[NumOfShowsFASTDirt]
           ,[NumOfEarningsFASTDirt]
           ,[TrntStatCategory1]
           ,[NumOfStarts1]
           ,[WinPercentage1]
           ,[InTheMoneyPercentage1]
           ,[ReturnOfInvestment1]
           ,[TrntStatCategory2]
           ,[NumOfStarts2]
           ,[WinPercentage2]
           ,[InTheMoneyPercentage2]
           ,[ReturnOfInvestment2]
           ,[TrntStatCategory3]
           ,[NumOfStarts3]
           ,[WinPercentage3]
           ,[InTheMoneyPercentage3]
           ,[ReturnOfInvestment3]
           ,[TrntStatCategory4]
           ,[NumOfStarts4]
           ,[WinPercentage4]
           ,[InTheMoneyPercentage4]
           ,[ReturnOfInvestment4]
           ,[TrntStatCategory5]
           ,[NumOfStarts5]
           ,[WinPercentage5]
           ,[InTheMoneyPercentage5]
           ,[ReturnOfInvestment5]
           ,[TrntStatCategory6]
           ,[NumOfStarts6]
           ,[WinPercentage6]
           ,[InTheMoneyPercentage6]
           ,[ReturnOfInvestment6]
           ,[Reserved49]
           ,[JKYDistanceTurfLabel]
           ,[JKYDistanceTurfStarts]
           ,[JKYDistanceTurfWins]
           ,[JKYDistanceTurfPlaces]
           ,[JKYDistanceTurfShows]
           ,[JKYDistanceTurfROI]
           ,[JKYDistanceTurfEarnings]
           ,[Reserved57]
           ,[Reserved58]
           ,[Reserved59]
           ,[Reserved60]
           ,[Reserved61]
           ,[Reserved62]
           ,[Reserved63]
           ,[Reserved64]
           ,[Reserved65]
           ,[Reserved66]
           ,[Reserved67]
           ,[Reserved68]
           ,[Reserved69]
           ,[Reserved70]
           ,[Reserved71]
           ,[Reserved72]
           ,[Reserved73]
           ,[Reserved74]
           ,[Reserved75]
           ,[Reserved76]
           ,[Reserved77]
           ,[Reserved78]
           ,[Reserved79]
           ,[Reserved80]
           ,[Reserved81]
           ,[Reserved82]
           ,[Reserved83]
           ,[Reserved84]
           ,[Reserved85]
           ,[Reserved86]
           ,[Reserved87]
           ,[Reserved88]
           ,[Reserved89]
           ,[Reserved90]
           ,[Reserved91]
           ,[Reserved92]
           ,[Reserved93]
           ,[Reserved94]
           ,[Reserved95]
           ,[Reserved96]
           ,[Reserved97]
           ,[Reserved98]
           ,[Reserved99]
           ,[Reserved100]
           ,[Reserved101]
           ,[Reserved102]
           ,[Reserved103]
           ,[Reserved104]
           ,[Reserved105]
           ,[Reserved106]
           ,[Reserved107]
           ,[Reserved108]
           ,[Reserved109]
           ,[Reserved110]
           ,[Reserved111]
           ,[Reserved112]
           ,[Reserved113]
           ,[Reserved114]
           ,[Reserved115]
           ,[Reserved116]
           ,[Reserved117]
           ,[Reserved118]
           ,[Reserved119]
           ,[Reserved120]
           ,[Reserved121]
           ,[Reserved122]
           ,[Reserved123]
           ,[Reserved124]
           ,[Reserved125]
           ,[Reserved126]
           ,[Reserved127]
           ,[Reserved128]
           ,[Reserved129]
           ,[Reserved130]
           ,[Reserved131]
           ,[Reserved132]
           ,[Reserved133]
           ,[Reserved134]
           ,[Reserved135]
           ,[Reserved136]
           ,[Reserved137]
           ,[Reserved138]
           ,[Reserved139]
           ,[Reserved140]
           ,[Reserved141]
           ,[Reserved142]
           ,[Reserved143]
           ,[Reserved144]
           ,[Reserved145]
           ,[Reserved146]
           ,[Reserved147]
           ,[Reserved148]
           ,[Reserved149]
           ,[Reserved150]
           ,[Reserved151]
           ,[Reserved152]
           ,[Reserved153]
           ,[Reserved154]
           ,[Reserved155]
           ,[Reserved156]
           ,[Reserved157]
           ,[Reserved158]
           ,[Reserved159]
           ,[Reserved160]
           ,[Reserved161]
           ,[Reserved162]
           ,[Reserved163]
           ,[Reserved164]
           ,[Reserved165]
           ,[Reserved166]
           ,[Reserved167]
           ,[Reserved168]
           ,[Reserved169]
           ,[Reserved170]
           ,[Reserved171]
           ,[Reserved172]
           ,[Reserved173]
           ,[Reserved174]
           ,[Reserved175]
           ,[Reserved176]
           ,[Reserved177]
           ,[Reserved178]
           ,[Reserved179]
           ,[Reserved180]
           ,[Reserved181]
           ,[Reserved182]
           ,[Reserved183]
           ,[Reserved184]
           ,[Reserved185]
           ,[Reserved186]
           ,[Reserved187]
           ,[Reserved188]
           ,[Reserved189]
           ,[Reserved190]
           ,[Reserved191]
           ,[Reserved192]
           ,[Reserved193]
           ,[Reserved194]
           ,[Reserved195]
           ,[Reserved196]
           ,[Reserved197]
           ,[Reserved198]
           ,[Reserved199]
           ,[Reserved200]
           ,[Reserved201]
           ,[Reserved202]
           ,[Reserved203]
           ,[Reserved204]
           ,[Reserved205]
           ,[Reserved206]
           ,[Reserved207]
           ,[Reserved208]
           ,[Reserved209]
           ,[Reserved210]
           ,[Reserved211]
           ,[Reserved212]
           ,[Reserved213]
           ,[Reserved214]
           ,[Reserved215]
           ,[Reserved216]
           ,[Reserved217]
           ,[Reserved218]
           ,[Reserved219]
           ,[Reserved220]
           ,[Reserved221]
           ,[Reserved222]
           ,[Reserved223]
           ,[Reserved224]
           ,[Reserved225]
           ,[Reserved226]
           ,[Reserved227]
           ,[Reserved228]
           ,[Reserved229]
           ,[Reserved230]
           ,[Reserved231]
           ,[Reserved232]
           ,[Reserved233]
           ,[Reserved234]
           ,[Reserved235]
           ,[Reserved236]
           ,[Reserved237]
           ,[Reserved238]
           ,[Reserved239]
           ,[Reserved240]
           ,[Reserved241]
           ,[Reserved242]
           ,[Reserved243]
           ,[Reserved244]
           ,[Reserved245]
           ,[Reserved246]
           ,[Reserved247]
           ,[Reserved248]
           ,[Reserved249]
           ,[Reserved250]
           ,[Reserved251]
           ,[Reserved252]
           ,[Reserved253]
           ,[Reserved254])
     SELECT R.RaceId
	        ,GETDATE()
	        ,GETDATE()
		    ,[SOURCE].[TrackCd]
			,[SOURCE].[RaceDt]
			,[SOURCE].[RaceNum]
			,[H].[HorseId]
			,[H].[HorseName]
			,[SOURCE].[PostPosition]
			,[SOURCE].[BRISPrimePowerRating]
			,REPLACE(REPLACE(REPLACE([SOURCE].[BRISDirtPedigreeRating], '?', ''), '*', ''), 'X', '')
			,REPLACE(REPLACE(REPLACE([SOURCE].[BRISMudPedigreeRating], '?', ''), '*', ''), 'X', '')
			,REPLACE(REPLACE(REPLACE([SOURCE].[BRISTurfPedigreeRating], '?', ''), '*', ''), 'X', '')
			,REPLACE(REPLACE(REPLACE([SOURCE].[BRISDistPedigreeRating], '?', ''), '*', ''), 'X', '')
			,REPLACE(REPLACE(REPLACE([SOURCE].[BestBRISSpeedLife], '?', ''), '*', ''), 'X', '')
			,[SOURCE].[BestBRISSpeedMostRecentYr]
			,[SOURCE].[BestBRISSpeedSecondMostRecentYr]
			,[SOURCE].[BestBRISSpeedTrack]
			,[SOURCE].[NumOfStartsFASTDirt]
			,[SOURCE].[NumOfWinsFASTDirt]
			,[SOURCE].[NumOfPlacesFASTDirt]
			,[SOURCE].[NumOfShowsFASTDirt]
			,CASE WHEN ISNULL([SOURCE].[NumOfEarningsFASTDirt], '') = '' THEN 0 ELSE CAST([SOURCE].[NumOfEarningsFASTDirt] AS DECIMAL(18, 2)) END
			,[SOURCE].[TrntStatCategory1]
			,[SOURCE].[NumOfStarts1]
			,CASE WHEN ISNULL([SOURCE].[WinPercentage1], '') = '' THEN 0 ELSE CAST([SOURCE].[WinPercentage1] AS DECIMAL(18, 2)) END
			,CASE WHEN ISNULL([SOURCE].[InTheMoneyPercentage1], 0) = '' THEN 0 ELSE CAST([SOURCE].[InTheMoneyPercentage1] AS DECIMAL(18, 2)) END
			,CASE WHEN ISNULL([SOURCE].[ReturnOfInvestment1], 0) = '' THEN 0 ELSE CAST([SOURCE].[ReturnOfInvestment1] AS DECIMAL(18, 2)) END
			,[SOURCE].[TrntStatCategory2]
			,[SOURCE].[NumOfStarts2]
			,CASE WHEN ISNULL([SOURCE].[WinPercentage2], '') = '' THEN 0 ELSE CAST([SOURCE].[WinPercentage2] AS DECIMAL(18, 2)) END
			,CASE WHEN ISNULL([SOURCE].[InTheMoneyPercentage2], 0) = '' THEN 0 ELSE CAST([SOURCE].[InTheMoneyPercentage2] AS DECIMAL(18, 2)) END
			,CASE WHEN ISNULL([SOURCE].[ReturnOfInvestment2], 0) = '' THEN 0 ELSE CAST([SOURCE].[ReturnOfInvestment2] AS DECIMAL(18, 2)) END
			,[SOURCE].[TrntStatCategory3]
			,[SOURCE].[NumOfStarts3]
			,CASE WHEN ISNULL([SOURCE].[WinPercentage3], '') = '' THEN 0 ELSE CAST([SOURCE].[WinPercentage3] AS DECIMAL(18, 2)) END
			,CASE WHEN ISNULL([SOURCE].[InTheMoneyPercentage3], 0) = '' THEN 0 ELSE CAST([SOURCE].[InTheMoneyPercentage3] AS DECIMAL(18, 2)) END
			,CASE WHEN ISNULL([SOURCE].[ReturnOfInvestment3], 0) = '' THEN 0 ELSE CAST([SOURCE].[ReturnOfInvestment3] AS DECIMAL(18, 2)) END
			,[SOURCE].[TrntStatCategory4]
			,[SOURCE].[NumOfStarts4]
			,CASE WHEN ISNULL([SOURCE].[WinPercentage4], '') = '' THEN 0 ELSE CAST([SOURCE].[WinPercentage4] AS DECIMAL(18, 2)) END
			,CASE WHEN ISNULL([SOURCE].[InTheMoneyPercentage4], 0) = '' THEN 0 ELSE CAST([SOURCE].[InTheMoneyPercentage4] AS DECIMAL(18, 2)) END
			,CASE WHEN ISNULL([SOURCE].[ReturnOfInvestment4], 0) = '' THEN 0 ELSE CAST([SOURCE].[ReturnOfInvestment4] AS DECIMAL(18, 2)) END
			,[SOURCE].[TrntStatCategory5]
			,[SOURCE].[NumOfStarts5]
			,CASE WHEN ISNULL([SOURCE].[WinPercentage5], '') = '' THEN 0 ELSE CAST([SOURCE].[WinPercentage5] AS DECIMAL(18, 2)) END
			,CASE WHEN ISNULL([SOURCE].[InTheMoneyPercentage5], 0) = '' THEN 0 ELSE CAST([SOURCE].[InTheMoneyPercentage5] AS DECIMAL(18, 2)) END
			,CASE WHEN ISNULL([SOURCE].[ReturnOfInvestment5], 0) = '' THEN 0 ELSE CAST([SOURCE].[ReturnOfInvestment5] AS DECIMAL(18, 2)) END
			,[SOURCE].[TrntStatCategory6]
			,[SOURCE].[NumOfStarts6]
			,CASE WHEN ISNULL([SOURCE].[WinPercentage6], '') = '' THEN 0 ELSE CAST([SOURCE].[WinPercentage6] AS DECIMAL(18, 2)) END
			,CASE WHEN ISNULL([SOURCE].[InTheMoneyPercentage6], 0) = '' THEN 0 ELSE CAST([SOURCE].[InTheMoneyPercentage6] AS DECIMAL(18, 2)) END
			,CASE WHEN ISNULL([SOURCE].[ReturnOfInvestment6], 0) = '' THEN 0 ELSE CAST([SOURCE].[ReturnOfInvestment6] AS DECIMAL(18, 2)) END
			,[SOURCE].[Reserved49]
			,[SOURCE].[JKYDistanceTurfLabel]
			,[SOURCE].[JKYDistanceTurfStarts]
			,[SOURCE].[JKYDistanceTurfWins]
			,[SOURCE].[JKYDistanceTurfPlaces]
			,[SOURCE].[JKYDistanceTurfShows]
			,CASE WHEN ISNULL([SOURCE].[JKYDistanceTurfROI], '') = '' THEN 0 ELSE CAST([SOURCE].[JKYDistanceTurfROI] AS DECIMAL(18, 2)) END
			,CASE WHEN ISNULL([SOURCE].[JKYDistanceTurfEarnings], '') = '' THEN 0 ELSE CAST([SOURCE].[JKYDistanceTurfEarnings] AS DECIMAL(18,2)) END
			,[SOURCE].[Reserved57]
			,[SOURCE].[Reserved58]
			,[SOURCE].[Reserved59]
			,[SOURCE].[Reserved60]
			,[SOURCE].[Reserved61]
			,[SOURCE].[Reserved62]
			,[SOURCE].[Reserved63]
			,[SOURCE].[Reserved64]
			,[SOURCE].[Reserved65]
			,[SOURCE].[Reserved66]
			,[SOURCE].[Reserved67]
			,[SOURCE].[Reserved68]
			,[SOURCE].[Reserved69]
			,[SOURCE].[Reserved70]
			,[SOURCE].[Reserved71]
			,[SOURCE].[Reserved72]
			,[SOURCE].[Reserved73]
			,[SOURCE].[Reserved74]
			,[SOURCE].[Reserved75]
			,[SOURCE].[Reserved76]
			,[SOURCE].[Reserved77]
			,[SOURCE].[Reserved78]
			,[SOURCE].[Reserved79]
			,[SOURCE].[Reserved80]
			,[SOURCE].[Reserved81]
			,[SOURCE].[Reserved82]
			,[SOURCE].[Reserved83]
			,[SOURCE].[Reserved84]
			,[SOURCE].[Reserved85]
			,[SOURCE].[Reserved86]
			,[SOURCE].[Reserved87]
			,[SOURCE].[Reserved88]
			,[SOURCE].[Reserved89]
			,[SOURCE].[Reserved90]
			,[SOURCE].[Reserved91]
			,[SOURCE].[Reserved92]
			,[SOURCE].[Reserved93]
			,[SOURCE].[Reserved94]
			,[SOURCE].[Reserved95]
			,[SOURCE].[Reserved96]
			,[SOURCE].[Reserved97]
			,[SOURCE].[Reserved98]
			,[SOURCE].[Reserved99]
			,[SOURCE].[Reserved100]
			,[SOURCE].[Reserved101]
			,[SOURCE].[Reserved102]
			,[SOURCE].[Reserved103]
			,[SOURCE].[Reserved104]
			,[SOURCE].[Reserved105]
			,[SOURCE].[Reserved106]
			,[SOURCE].[Reserved107]
			,[SOURCE].[Reserved108]
			,[SOURCE].[Reserved109]
			,[SOURCE].[Reserved110]
			,[SOURCE].[Reserved111]
			,[SOURCE].[Reserved112]
			,[SOURCE].[Reserved113]
			,[SOURCE].[Reserved114]
			,[SOURCE].[Reserved115]
			,[SOURCE].[Reserved116]
			,[SOURCE].[Reserved117]
			,[SOURCE].[Reserved118]
			,[SOURCE].[Reserved119]
			,[SOURCE].[Reserved120]
			,[SOURCE].[Reserved121]
			,[SOURCE].[Reserved122]
			,[SOURCE].[Reserved123]
			,[SOURCE].[Reserved124]
			,[SOURCE].[Reserved125]
			,[SOURCE].[Reserved126]
			,[SOURCE].[Reserved127]
			,[SOURCE].[Reserved128]
			,[SOURCE].[Reserved129]
			,[SOURCE].[Reserved130]
			,[SOURCE].[Reserved131]
			,[SOURCE].[Reserved132]
			,[SOURCE].[Reserved133]
			,[SOURCE].[Reserved134]
			,[SOURCE].[Reserved135]
			,[SOURCE].[Reserved136]
			,[SOURCE].[Reserved137]
			,[SOURCE].[Reserved138]
			,[SOURCE].[Reserved139]
			,[SOURCE].[Reserved140]
			,[SOURCE].[Reserved141]
			,[SOURCE].[Reserved142]
			,[SOURCE].[Reserved143]
			,[SOURCE].[Reserved144]
			,[SOURCE].[Reserved145]
			,[SOURCE].[Reserved146]
			,[SOURCE].[Reserved147]
			,[SOURCE].[Reserved148]
			,[SOURCE].[Reserved149]
			,[SOURCE].[Reserved150]
			,[SOURCE].[Reserved151]
			,[SOURCE].[Reserved152]
			,[SOURCE].[Reserved153]
			,[SOURCE].[Reserved154]
			,[SOURCE].[Reserved155]
			,[SOURCE].[Reserved156]
			,[SOURCE].[Reserved157]
			,[SOURCE].[Reserved158]
			,[SOURCE].[Reserved159]
			,[SOURCE].[Reserved160]
			,[SOURCE].[Reserved161]
			,[SOURCE].[Reserved162]
			,[SOURCE].[Reserved163]
			,[SOURCE].[Reserved164]
			,[SOURCE].[Reserved165]
			,[SOURCE].[Reserved166]
			,[SOURCE].[Reserved167]
			,[SOURCE].[Reserved168]
			,[SOURCE].[Reserved169]
			,[SOURCE].[Reserved170]
			,[SOURCE].[Reserved171]
			,[SOURCE].[Reserved172]
			,[SOURCE].[Reserved173]
			,[SOURCE].[Reserved174]
			,[SOURCE].[Reserved175]
			,[SOURCE].[Reserved176]
			,[SOURCE].[Reserved177]
			,[SOURCE].[Reserved178]
			,[SOURCE].[Reserved179]
			,[SOURCE].[Reserved180]
			,[SOURCE].[Reserved181]
			,[SOURCE].[Reserved182]
			,[SOURCE].[Reserved183]
			,[SOURCE].[Reserved184]
			,[SOURCE].[Reserved185]
			,[SOURCE].[Reserved186]
			,[SOURCE].[Reserved187]
			,[SOURCE].[Reserved188]
			,[SOURCE].[Reserved189]
			,[SOURCE].[Reserved190]
			,[SOURCE].[Reserved191]
			,[SOURCE].[Reserved192]
			,[SOURCE].[Reserved193]
			,[SOURCE].[Reserved194]
			,[SOURCE].[Reserved195]
			,[SOURCE].[Reserved196]
			,[SOURCE].[Reserved197]
			,[SOURCE].[Reserved198]
			,[SOURCE].[Reserved199]
			,[SOURCE].[Reserved200]
			,[SOURCE].[Reserved201]
			,[SOURCE].[Reserved202]
			,[SOURCE].[Reserved203]
			,[SOURCE].[Reserved204]
			,[SOURCE].[Reserved205]
			,[SOURCE].[Reserved206]
			,[SOURCE].[Reserved207]
			,[SOURCE].[Reserved208]
			,[SOURCE].[Reserved209]
			,[SOURCE].[Reserved210]
			,[SOURCE].[Reserved211]
			,[SOURCE].[Reserved212]
			,[SOURCE].[Reserved213]
			,[SOURCE].[Reserved214]
			,[SOURCE].[Reserved215]
			,[SOURCE].[Reserved216]
			,[SOURCE].[Reserved217]
			,[SOURCE].[Reserved218]
			,[SOURCE].[Reserved219]
			,[SOURCE].[Reserved220]
			,[SOURCE].[Reserved221]
			,[SOURCE].[Reserved222]
			,[SOURCE].[Reserved223]
			,[SOURCE].[Reserved224]
			,[SOURCE].[Reserved225]
			,[SOURCE].[Reserved226]
			,[SOURCE].[Reserved227]
			,[SOURCE].[Reserved228]
			,[SOURCE].[Reserved229]
			,[SOURCE].[Reserved230]
			,[SOURCE].[Reserved231]
			,[SOURCE].[Reserved232]
			,[SOURCE].[Reserved233]
			,[SOURCE].[Reserved234]
			,[SOURCE].[Reserved235]
			,[SOURCE].[Reserved236]
			,[SOURCE].[Reserved237]
			,[SOURCE].[Reserved238]
			,[SOURCE].[Reserved239]
			,[SOURCE].[Reserved240]
			,[SOURCE].[Reserved241]
			,[SOURCE].[Reserved242]
			,[SOURCE].[Reserved243]
			,[SOURCE].[Reserved244]
			,[SOURCE].[Reserved245]
			,[SOURCE].[Reserved246]
			,[SOURCE].[Reserved247]
			,[SOURCE].[Reserved248]
			,[SOURCE].[Reserved249]
			,[SOURCE].[Reserved250]
			,[SOURCE].[Reserved251]
			,[SOURCE].[Reserved252]
			,[SOURCE].[Reserved253]
			,[SOURCE].[Reserved254]
  FROM [kelso].[brisnet_dr4_staging] [SOURCE]
  LEFT JOIN [kelso].[brisnet_dr4] [TARGET] ON [TARGET].[TrackCd] = [SOURCE].[TrackCd]
											  AND [TARGET].[RaceDt] = [SOURCE].[RaceDt]
											  AND [TARGET].[RaceNum] = [SOURCE].[RaceNum]
											  AND [TARGET].[PostPosition] = [SOURCE].[PostPosition]
  LEFT JOIN [kelso].[brisnet_dr2] [DR2] ON  [DR2].[TrackCd] = [SOURCE].[TrackCd]
											AND [DR2].[RaceDt] = [SOURCE].[RaceDt]
											AND [DR2].[RaceNum] = [SOURCE].[RaceNum]
											AND [DR2].[PostPosition] = [SOURCE].[PostPosition]
  JOIN [kelso].[brisnet_Horses] H ON H.HorseName = DR2.HorseName
  LEFT JOIN [kelso].[brisnet_Races] R ON R.RaceDt = SOURCE.RaceDt
									   AND R.TrackCd = SOURCE.TrackCd
									   AND R.RaceNum = SOURCE.RaceNum
  WHERE [TARGET].[TrackCd] IS NULL;
END

GO



