<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Files" value="C:\FastTrack\Production\Polling"/>
    <add key="BeyerPerformance" value="50"/>
    <add key="BeyerDistance" value="50"/>
    <add key="ModifiedBeyerSpeed" value="50"/>
    <add key="HandimanPerformance" value="50"/>
    <add key="MaxDate" value="365"/>
    <add key="MaxDate2" value="90"/>
    <add key="xml" value="C:\FastTrack\Production\xml"/>
    <add key="report" value="C:\FastTrack\Production\report"/>
    <add key="polling" value="C:\FastTrack\Production\polling"/>
    <add key="manual" value="C:\FastTrack\Production\hdrf"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Kelso" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=c:\FastTrack\Kelso.accdb" providerName="System.Data.OleDb"/>-->
    <!--<add name="Kelso" connectionString="Provider=SQLNCLI10;Data Source=fasttracktowin.db.8213615.hostedresource.com;Database=fasttracktowin;Uid=fasttracktowin; Pwd=K3ls0321!;" providerName="System.Data.OleDb"/>-->
    <!--<add name="Kelso" connectionString="Provider=SQLNCLI10;Data Source=fasttracktowin3.db.8213615.hostedresource.com;Database=fasttracktowin3;Uid=fasttracktowin3; Pwd=K3ls0321!;" providerName="System.Data.OleDb"/>-->
    
    <!--<add name="Kelso" connectionString="Provider=SQLNCLI10;Data Source=mon1.toplingo.com\FASTTRACK_2008, 1438;Database=fasttracktowin3;Uid=fasttracktowin; Pwd=t3mpor47ANOMALY; ;Connection Timeout=120;Connection Timeout=30" providerName="System.Data.OleDb"/>-->
    <add name="Kelso" connectionString="Provider=SQLNCLI10;Data Source=184.105.239.222\DEV_FASTTRACK, 1533;Database=fasttracktowin3;Uid=sa; Pwd=711tango?; ;Connection Timeout=120;Connection Timeout=30" providerName="System.Data.OleDb"/>

    <!--<add name="Kelso" connectionString="Provider=SQLNCLI10.1;Data Source=phung-PC;Database=fasttracktowin3;Uid=fasttracktowin3; Pwd=K3ls0321!;" providerName="System.Data.OleDb"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
